<form class="the-form">
      <h1>Register</h1>
      {{input type="text" class="form-input" placeholder="Enter a valid email"}}
      {{input type="password" class="form-input" placeholder="Enter a valid email"}}
      <button class="submit-btn" type="submit">Register</button>
      <label class="form-label">{{#link-to "login"}}Login{{/link-to}}</label>
</form>
