<div class="welcome-div">
  <h1>Welcome</h1>
  <label class="user-label">Congrats:{{user}}</label><br>
  <button class="logout-btn" {{action "logoutPerson"}}>Logout</button>
</div>

{{notification-container position="top"}}
